################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XDeltaGUIBatch/bin/Debug/net6.0-windows/Created_Patches
